@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; height: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 12px; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: #004059; }

.it_l, .it_r, .if_l, .if_r { display: inline-block; position: absolute; }

.it_l { top: 0; left: 0; }
.it_l img { width: 100%; max-width: 224px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .it_l img { max-width: 154px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .it_l img { max-width: 122px; } }
@media screen and (max-width: 767px) and (min-width: 325px) { .it_l img { max-width: 90px; } }
@media screen and (max-width: 324px) and (min-width: 0) { .it_l img { max-width: 60px; } }

.it_r { top: 0; right: 0; }
.it_r img { width: 100%; max-width: 242px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .it_r img { max-width: 172px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .it_r img { max-width: 112px; } }
@media screen and (max-width: 767px) and (min-width: 325px) { .it_r img { max-width: 90px; } }
@media screen and (max-width: 324px) and (min-width: 0) { .it_r img { max-width: 60px; } }

.if_l { bottom: 0; left: 0; }
.if_l img { width: 100%; max-width: 166px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .if_l img { max-width: 90px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .if_l img { max-width: 70px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .if_l img { display: none; } }

.if_r { bottom: 0; right: 0; }
.if_r img { width: 100%; max-width: 233px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .if_r img { max-width: 157px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .if_r img { max-width: 117px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .if_r img { display: none; } }

.i_menu_boxs { display: inline-block; width: 100%; max-width: 800px; margin: 0 auto; *zoom: 1; }
.i_menu_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs { max-width: 500px; } }
@media screen and (max-width: 767px) and (min-width: 610px) { .i_menu_boxs { max-width: 500px; padding: 20px 0; } }
@media screen and (max-width: 609px) and (min-width: 0) { .i_menu_boxs { max-width: 300px; padding: 20px 0; } }
.i_menu_boxs .i_icon_boxs { display: inline-block; width: 100%; padding-right: 15px; padding-top: 30px; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs .i_icon_boxs { margin-right: -12px; padding-right: 0; } }
@media screen and (max-width: 767px) and (min-width: 0) { .i_menu_boxs .i_icon_boxs { display: none; } }
.i_menu_boxs .i_icon_boxs a { display: inline-block; widows: 100%; font-size: .9rem; color: white; text-decoration: none; margin-right: 20px; float: right; }
.i_menu_boxs .i_icon_boxs a:hover { color: #eb008b; }
.i_menu_boxs .i_menu { display: inline-block; width: calc(100% / 6); float: left; }
@media screen and (max-width: 767px) and (min-width: 0) { .i_menu_boxs .i_menu { width: calc(100% / 3); } }
.i_menu_boxs .i_menu a { display: inline-block; position: relative; widows: 100%; font-size: 1rem; color: white; text-decoration: none; line-height: 60px; -moz-transition: all, 0.3s; -o-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs .i_menu a { font-size: .9rem; } }
@media screen and (max-width: 767px) and (min-width: 450px) { .i_menu_boxs .i_menu a { font-size: 1rem; line-height: 40px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .i_menu_boxs .i_menu a { display: none; } }
.i_menu_boxs .i_menu a:hover:after { display: inline-block; content: ''; position: absolute; left: -3px; bottom: 0; width: 110%; height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.i_menu_boxs .menu_list { display: none; position: relative; font-size: 1.2rem; color: white; padding-bottom: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_menu_boxs .menu_list { display: inline-block; } }
.i_menu_boxs .menu_list:after { display: inline-block; content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

.mobile_boxs { display: inline-block; width: 100%; text-align: left; padding: 0 10px; margin-top: 20px; }
.mobile_boxs.no_show { display: none; }
.mobile_boxs a { display: inline-block; width: 100%; line-height: 50px; font-size: 1.1rem; text-decoration: none; color: white; font-weight: 600; border-top: 1px dotted rgba(252, 208, 129, 0.8); text-align: center; }
.mobile_boxs a:hover, .mobile_boxs a:active { color: #f8e20a; }
.mobile_boxs a:last-child { border-bottom: 1px dotted rgba(252, 208, 129, 0.8); }

.i_cent_boxs { display: inline-block; width: 100%; padding: 20px 20px 0 20px; margin-top: -60px; }
@media screen and (max-width: 767px) and (min-width: 450px) { .i_cent_boxs { margin-top: -40px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs { margin-top: auto; } }
.i_cent_boxs .in_mouse { width: 100%; max-width: 1200px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs .in_mouse { display: none; } }
.i_cent_boxs .in_mouse_m { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs .in_mouse_m { display: inline-block; width: 100%; max-width: 450px; padding-bottom: 20px; } }

.cent_boxs { display: inline-block; width: 100%; background-image: url(../img/page_bg.png); background-repeat: no-repeat; background-size: 90%; background-position: center center; margin: 30px 0; }
@media screen and (max-width: 1989px) and (min-width: 1350px) { .cent_boxs { background-size: 80%; } }
@media screen and (max-width: 1349px) and (min-width: 890px) { .cent_boxs { background-size: 90%; } }
@media screen and (max-width: 889px) and (min-width: 770px) { .cent_boxs { margin: 0; background-size: cover; } }
@media screen and (max-width: 769px) and (min-width: 450px) { .cent_boxs { margin-top: 45px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_boxs { margin-top: 30px; } }
.cent_boxs .cent_box { display: inline-block; width: 100%; max-width: calc(880px - 40px); min-height: 800px; background-color: #f8f2de; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 0 20px; padding: 20px; }
@media screen and (max-width: 1989px) and (min-width: 1350px) { .cent_boxs .cent_box { max-width: calc(1000px - 40px); } }
@media screen and (max-width: 1349px) and (min-width: 890px) { .cent_boxs .cent_box { max-width: calc(900px - 40px); } }
@media screen and (max-width: 889px) and (min-width: 0) { .cent_boxs .cent_box { max-width: calc(100% - 40px); } }

.in_footer { display: inline-block; max-width: 900px; width: 100%; margin: 0 auto; padding-bottom: 20px; margin-top: -60px; }
.in_footer.no_ma { margin-top: 20px; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .in_footer { max-width: 660px; margin-top: -30px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .in_footer { max-width: auto; margin-top: 0; padding: 10px 10px 10px 10px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ } }

.f_type_boxs { display: inline-block; width: 100%; *zoom: 1; text-align: left; }
.f_type_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.f_type_boxs .f_type { display: inline-block; font-size: .9rem; color: white; float: left; padding: 0; margin: 0; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .f_type_boxs .f_type { font-size: .8rem; } }
.f_type_boxs .f_type.fw10 { width: 12%; }
.f_type_boxs .f_type.fw10:before { display: inline-block; content: '・'; }
@media screen and (max-width: 767px) and (min-width: 0) { .f_type_boxs .f_type.fw10 { width: 100%; } }
.f_type_boxs .f_type.fw90 { width: 88%; }
@media screen and (max-width: 767px) and (min-width: 0) { .f_type_boxs .f_type.fw90 { width: 100%; padding-left: 15px; } }
.f_type_boxs .f_type.fwb { font-weight: 600; }

.page_cent { display: inline-block; width: 100%; }

.tag_boxs { display: inline-block; width: 100%; text-align: left; padding-bottom: 20px; }

.tag_a { display: inline-block; color: #4a8093; font-size: .9; text-decoration: none; cursor: pointer; }
.tag_a:hover { color: #eb008b; }
.tag_a:hover:after { color: #4a8093; }
.tag_a:after { display: inline-block; content: '>'; padding: 0 10px; }
.tag_a:last-child:after { display: none; }

.news_box { display: inline-block; width: 100%; border-bottom: 2px dotted #c08f47; padding: 15px 0; *zoom: 1; }
.news_box:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box { padding: 0 0 10px 0; } }
.news_box .n_date { display: inline-block; background-color: #c08f47; font-size: 1rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 5px 10px; color: white; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_date { font-size: .9rem; padding: 5px 10px; } }
.news_box .n_titel { display: inline-block; cursor: pointer; float: left; font-size: 1rem; color: #c08f47; font-weight: 600; padding: 0; margin: 0 0 0 30px; line-height: 20px; }
.news_box .n_titel:hover, .news_box .n_titel:active { color: #eb008b; }
.news_box .n_titel.n_outlink { width: calc(100% - 165px); text-decoration: none; text-align: left; padding-top: 8px; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_titel.n_outlink { width: 100%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_titel { width: 100%; text-align: left; margin: 0; line-height: 25px; padding-top: 10px; } }
.news_box .n_content { display: none; width: 100%; padding: 15px 0; border-top: 1px solid #91609d; margin-top: 15px; text-align: left; }
.news_box .n_content.show_co { display: inline-block; }
.news_box .n_content p { display: inline-block; padding: 0 10px; margin: 0; color: #171717; font-size: 18px; line-height: 30px; }
.news_box .plan_boxs { display: inline-block; float: left; }
.news_box .plan_boxs:after { display: inline-block; content: "│"; padding: 0 10px; font-size: 1.4rem; color: #b8843e; }
@media screen and (max-width: 1089px) and (min-width: 450px) { .news_box .plan_boxs:after { font-size: 1.2rem; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .plan_boxs:after { font-size: 1rem; } }
.news_box .plan_boxs a { display: inline-block; cursor: pointer; font-size: 1.4rem; color: #b8843e; text-decoration: none; margin-bottom: 6px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 450px) { .news_box .plan_boxs a { font-size: 1.2rem; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .plan_boxs a { font-size: 1rem; } }
.news_box .plan_boxs a:hover, .news_box .plan_boxs a:active, .news_box .plan_boxs a.plan_ok { color: #b8843e; font-weight: 600; }

p { padding: 0; margin: 0; }

.p_title { display: inline-block; font-size: 1.8rem; }
@media screen and (max-width: 449px) and (min-width: 0) { .p_title { font-size: 1.4rem; padding-top: 10px; text-align: left; } }

.p_cent_type { display: inline-block; font-size: 1rem; text-align: left; line-height: 1.6rem; }
.p_cent_type.padtop20 { padding: 20px 0; }

.all_img { display: inline-block; width: 100%; max-width: 920px; }

.little_boxs { display: inline-block; width: 100%; *zoom: 1; }
.little_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.little_boxs.ac_tag { margin-top: 20px; }
.little_boxs .little01 { display: inline-block; background-color: #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 15px 20px; font-size: 24px; color: white; float: left; }
@media screen and (max-width: 399px) and (min-width: 0) { .little_boxs .little01 { padding: 10px 15px; font-size: 18px; } }
.little_boxs .little02 { display: inline-block; cursor: pointer; width: calc(100% / 4 - 10px * 5 / 3); text-decoration: none; border: 1px solid #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 10px 0; font-size: 1.4rem; color: #c08f47; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .little_boxs .little02 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 754px) and (min-width: 701px) { .little_boxs .little02 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 700px) and (min-width: 330px) { .little_boxs .little02 { font-size: 1rem; padding: 10px 0; margin: 0 10px 10px 10px !important; width: calc(50% - 10px * 2); } }
@media screen and (max-width: 329px) and (min-width: 0) { .little_boxs .little02 { font-size: .9rem; padding: 10px 0; margin: 0 5px 10px 5px !important; width: calc(50% - 5px * 2); } }
.little_boxs .little02:nth-child(1) { margin-right: 10px; }
.little_boxs .little02:nth-child(2), .little_boxs .little02:nth-child(3) { margin: 0 10px; }
.little_boxs .little02:nth-child(4) { margin-left: 10px; }
.little_boxs .little02:hover, .little_boxs .little02:active, .little_boxs .little02.l_ok { color: white; background-color: #c08f47; }
.little_boxs .little03 { display: inline-block; cursor: pointer; width: calc(100% / 3 - 10px * 4 / 2); text-decoration: none; border: 1px solid #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 10px 0; font-size: 1.4rem; color: #c08f47; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .little_boxs .little03 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 754px) and (min-width: 701px) { .little_boxs .little03 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 700px) and (min-width: 330px) { .little_boxs .little03 { font-size: 1rem; padding: 10px 0; margin: 0 10px 10px 10px !important; width: calc(50% - 10px * 2); } }
@media screen and (max-width: 329px) and (min-width: 0) { .little_boxs .little03 { font-size: .9rem; padding: 10px 0; margin: 0 5px 10px 5px !important; width: calc(50% - 5px * 2); } }
.little_boxs .little03:nth-child(1) { margin-right: 10px; }
.little_boxs .little03:nth-child(2), .little_boxs .little03:nth-child(3) { margin: 0 10px; }
.little_boxs .little03:nth-child(4) { margin-left: 10px; }
.little_boxs .little03:hover, .little_boxs .little03:active, .little_boxs .little03.l_ok { color: white; background-color: #c08f47; }
.little_boxs p { display: inline-block; padding: 0 10px; margin: 0; float: left; color: #c08f47; font-size: 24px; float: left; line-height: 63px; }
@media screen and (max-width: 399px) and (min-width: 0) { .little_boxs p { line-height: 45px; font-size: 18px; } }
