@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; height: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 12px; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: #004059; }
body.index_he { height: 100vh; }

.it_l, .it_r, .if_l, .if_r { display: inline-block; position: absolute; }

.it_l { top: 0; left: 0; }
.it_l img { width: 100%; max-width: 224px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .it_l img { max-width: 154px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .it_l img { max-width: 122px; } }
@media screen and (max-width: 767px) and (min-width: 325px) { .it_l img { max-width: 90px; } }
@media screen and (max-width: 324px) and (min-width: 0) { .it_l img { max-width: 60px; } }

.it_r { top: 0; right: 0; }
.it_r img { width: 100%; max-width: 242px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .it_r img { max-width: 172px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .it_r img { max-width: 112px; } }
@media screen and (max-width: 767px) and (min-width: 325px) { .it_r img { max-width: 90px; } }
@media screen and (max-width: 324px) and (min-width: 0) { .it_r img { max-width: 60px; } }

.if_l { bottom: 0; left: 0; }
.if_l img { width: 100%; max-width: 166px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .if_l img { max-width: 90px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .if_l img { max-width: 70px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .if_l img { display: none; } }

.if_r { bottom: 0; right: 0; }
.if_r img { width: 100%; max-width: 233px; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .if_r img { max-width: 157px; } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .if_r img { max-width: 117px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .if_r img { display: none; } }

.i_menu_boxs { display: inline-block; width: calc(100% - 264px - 282px); *zoom: 1; }
.i_menu_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 1244px) and (min-width: 1080px) { .i_menu_boxs { width: calc(100% - 204px - 172px); } }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs { width: calc(100% - 122px - 112px); } }
@media screen and (max-width: 767px) and (min-width: 325px) { .i_menu_boxs { width: calc(100% - 90px - 90px); padding-top: 20px; } }
@media screen and (max-width: 324px) and (min-width: 0) { .i_menu_boxs { width: calc(100% - 60px - 60px); padding-top: 20px; } }
.i_menu_boxs .i_icon_boxs { display: inline-block; width: 100%; padding-right: 15px; padding-top: 30px; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs .i_icon_boxs { margin-right: -12px; padding-right: 0; } }
@media screen and (max-width: 767px) and (min-width: 0) { .i_menu_boxs .i_icon_boxs { display: none; } }
.i_menu_boxs .i_icon_boxs a { display: inline-block; widows: 100%; font-size: .9rem; color: white; text-decoration: none; margin-right: 20px; float: right; }
.i_menu_boxs .i_icon_boxs a:hover { color: #eb008b; }
.i_menu_boxs .i_menu { display: inline-block; width: calc(100% / 7); float: left; position: relative; }
.i_menu_boxs .i_menu:after { display: inline-block; content: '．'; color: white; position: absolute; top: 22px; right: 0; }
.i_menu_boxs .i_menu:nth-last-child(2):after { display: none; }
@media screen and (max-width: 767px) and (min-width: 0) { .i_menu_boxs .i_menu { width: calc(100% / 3); }
  .i_menu_boxs .i_menu:after { top: 12px; } }
.i_menu_boxs .i_menu a { display: inline-block; position: relative; width: 100%; font-size: 1rem; color: white; text-decoration: none; line-height: 60px; -moz-transition: all, 0.3s; -o-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .i_menu_boxs .i_menu a { font-size: .9rem; } }
@media screen and (max-width: 767px) and (min-width: 450px) { .i_menu_boxs .i_menu a { font-size: 1rem; line-height: 40px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .i_menu_boxs .i_menu a { display: none; } }
.i_menu_boxs .i_menu a:hover:after { display: inline-block; content: ''; position: absolute; left: 5%; bottom: 0; width: 90%; height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.i_menu_boxs .i_menu a.aac { color: #e07d81; }
.i_menu_boxs .i_menu a.aac:after { display: inline-block; content: ''; position: absolute; left: 5%; bottom: 0; width: 90%; height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.i_menu_boxs .menu_list { display: none; position: relative; font-size: 1.2rem; color: white; padding-bottom: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_menu_boxs .menu_list { display: inline-block; } }
.i_menu_boxs .menu_list:after { display: inline-block; content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

.mobile_boxs { display: inline-block; width: 100%; text-align: left; padding: 0 10px; margin-top: 20px; }
.mobile_boxs.no_show { display: none; }
.mobile_boxs a { display: inline-block; width: 100%; line-height: 50px; font-size: 1.1rem; text-decoration: none; color: white; font-weight: 600; border-top: 1px dotted rgba(252, 208, 129, 0.8); text-align: center; }
.mobile_boxs a:hover, .mobile_boxs a:active { color: #f8e20a; }
.mobile_boxs a:last-child { border-bottom: 1px dotted rgba(252, 208, 129, 0.8); }

.i_cent_boxs { display: inline-block; width: 100%; padding: 20px 20px 0 20px; margin-top: -60px; }
@media screen and (max-width: 767px) and (min-width: 450px) { .i_cent_boxs { margin-top: -40px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs { margin-top: auto; } }
.i_cent_boxs .in_mouse { width: 100%; max-width: 1200px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs .in_mouse { display: none; } }
.i_cent_boxs .in_mouse_m { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_cent_boxs .in_mouse_m { display: inline-block; width: 100%; max-width: 450px; padding-bottom: 20px; } }

.cent_boxs { display: inline-block; width: 100%; background-image: url(../img/page_bg.png); background-repeat: no-repeat; background-size: 90%; background-position: center center; margin: 30px 0; }
@media screen and (min-width: 1700px) { .cent_boxs { background-size: 65%; } }
@media screen and (max-width: 1699px) and (min-width: 1350px) { .cent_boxs { background-size: 80%; } }
@media screen and (max-width: 1349px) and (min-width: 890px) { .cent_boxs { background-size: 90%; } }
@media screen and (max-width: 889px) and (min-width: 770px) { .cent_boxs { margin: 0; background-size: cover; } }
@media screen and (max-width: 769px) and (min-width: 450px) { .cent_boxs { margin-top: 45px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_boxs { margin-top: 30px; } }
.cent_boxs .cent_box { display: inline-block; width: 100%; max-width: calc(880px - 40px); min-height: 800px; background-color: #f8f2de; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 0 20px; padding: 20px; }
@media screen and (max-width: 1989px) and (min-width: 1350px) { .cent_boxs .cent_box { max-width: calc(1000px - 40px); } }
@media screen and (max-width: 1349px) and (min-width: 890px) { .cent_boxs .cent_box { max-width: calc(900px - 40px); } }
@media screen and (max-width: 889px) and (min-width: 0) { .cent_boxs .cent_box { max-width: calc(100% - 40px); } }

.in_footer { display: inline-block; max-width: 900px; width: 100%; margin: 0 auto; padding-bottom: 20px; margin-top: -60px; }
.in_footer.no_ma { margin-top: 20px; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .in_footer { max-width: 660px; margin-top: -30px; } }
@media screen and (max-width: 767px) and (min-width: 0) { .in_footer { max-width: auto; margin-top: 0; padding: 10px 10px 10px 10px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb008b+0,e35984+50,df8e80+100 */ background: #eb008b; /* Old browsers */ background: -moz-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(45deg, #eb008b 0%, #e35984 50%, #df8e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#df8e80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ } }

.f_type_boxs { display: inline-block; width: 100%; *zoom: 1; text-align: left; }
.f_type_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.f_type_boxs .f_type { display: inline-block; font-size: .9rem; color: white; float: left; padding: 0; margin: 0; }
@media screen and (max-width: 1079px) and (min-width: 768px) { .f_type_boxs .f_type { font-size: .8rem; } }
.f_type_boxs .f_type.fw10 { width: 12%; }
.f_type_boxs .f_type.fw10:before { display: inline-block; content: '・'; }
@media screen and (max-width: 767px) and (min-width: 0) { .f_type_boxs .f_type.fw10 { width: 100%; } }
.f_type_boxs .f_type.fw90 { width: 88%; }
@media screen and (max-width: 767px) and (min-width: 0) { .f_type_boxs .f_type.fw90 { width: 100%; padding-left: 15px; } }
.f_type_boxs .f_type.fwb { font-weight: 600; }

.page_cent { display: inline-block; width: 100%; }

.tag_boxs { display: inline-block; width: 100%; text-align: left; padding-bottom: 20px; }

.tag_a { display: inline-block; color: #4a8093; font-size: .9; text-decoration: none; cursor: pointer; }
.tag_a:hover { color: #eb008b; }
.tag_a:hover:after { color: #4a8093; }
.tag_a:after { display: inline-block; content: '>'; padding: 0 10px; }
.tag_a:last-child:after { display: none; }

.news_box { display: inline-block; width: 100%; border-bottom: 2px dotted #c08f47; padding: 15px 0; *zoom: 1; }
.news_box:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box { padding: 0 0 10px 0; } }
.news_box.sbord { border-bottom: 2px solid #c08f47; }
.news_box.top_Bbot { margin-top: 15px; border-top: 2px dotted #c08f47; }
.news_box .n_date { display: inline-block; background-color: #c08f47; font-size: 1rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 5px 10px; color: white; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_date { font-size: .9rem; padding: 5px 10px; } }
.news_box .n_titel { display: inline-block; cursor: pointer; float: left; font-size: 1rem; color: #c08f47; font-weight: 600; padding: 0; margin: 0 0 0 30px; line-height: 20px; }
.news_box .n_titel:hover, .news_box .n_titel:active { color: #eb008b; }
.news_box .n_titel.n_outlink { width: calc(100% - 165px); text-decoration: none; text-align: left; padding-top: 8px; }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_titel.n_outlink { width: 100%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .n_titel { width: 100%; text-align: left; margin: 0; line-height: 25px; padding-top: 10px; } }
.news_box .n_content { display: none; width: 100%; padding: 15px 0; border-top: 1px solid #91609d; margin-top: 15px; text-align: left; }
.news_box .n_content.show_co { display: inline-block; }
.news_box .n_content p { display: inline-block; padding: 0 10px; margin: 0; color: #171717; font-size: 18px; line-height: 30px; }
.news_box .plan_boxs { display: inline-block; float: left; }
.news_box .plan_boxs:after { display: inline-block; content: "│"; padding: 0 10px; font-size: 1.4rem; color: #b8843e; }
@media screen and (max-width: 1089px) and (min-width: 450px) { .news_box .plan_boxs:after { font-size: 1.2rem; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .plan_boxs:after { font-size: 1rem; } }
.news_box .plan_boxs:last-child:after { display: none; }
.news_box .plan_boxs a { display: inline-block; cursor: pointer; font-size: 1.4rem; color: #b8843e; text-decoration: none; margin-bottom: 6px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 450px) { .news_box .plan_boxs a { font-size: 1.2rem; } }
@media screen and (max-width: 449px) and (min-width: 0) { .news_box .plan_boxs a { font-size: 1rem; } }
.news_box .plan_boxs a:hover, .news_box .plan_boxs a:active, .news_box .plan_boxs a.plan_ok { color: #e00074; font-weight: 600; }

.show_boxs { display: inline-block; width: 95%; margin: 0 auto; padding: 20px 0; }
.show_boxs .show_box { display: inline-block; width: 100%; padding-bottom: 20px; *zoom: 1; }
.show_boxs .show_box:after { display: table; content: ""; line-height: 0; clear: both; }
.show_boxs .show_box .sb_l { display: inline-block; width: 30%; float: left; }
.show_boxs .show_box .sb_l img { display: inline-block; width: 100%; max-width: 220px; }
@media screen and (max-width: 629px) and (min-width: 0) { .show_boxs .show_box .sb_l img { max-width: 100%; } }
@media screen and (max-width: 629px) and (min-width: 0) { .show_boxs .show_box .sb_l { width: 100%; } }
.show_boxs .show_box .sb_r { display: inline-block; width: 70%; float: left; padding-left: 20px; text-align: left; }
@media screen and (max-width: 629px) and (min-width: 0) { .show_boxs .show_box .sb_r { width: 100%; padding-left: 0; padding-top: 15px; padding-bottom: 15px; } }
.show_boxs .show_box .sb_r .s_name { display: inline-block; width: 100%; font-size: 1.2rem; color: #b8843e; font-weight: 600; padding-bottom: 10px; }
.show_boxs .show_box .sb_r .s_name:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #e4007f; }
.show_boxs .show_box .sb_r .s_type { display: inline-block; width: 100%; font-size: 1rem; line-height: 1.6rem; }

p { padding: 0; margin: 0; }

.p_title { display: inline-block; font-size: 1.8rem; }
.p_title.p_left { float: left; }
.p_title.p_right { float: right !important; }
.p_title.p_pink { color: #e4007f; font-weight: 600; }
@media screen and (max-width: 449px) and (min-width: 0) { .p_title { font-size: 1.4rem; padding-top: 10px; text-align: left; } }

.p_cent_type { display: inline-block; width: 100%; font-size: 1rem; text-align: left; line-height: 1.6rem; }
.p_cent_type.pcright { text-align: right !important; }

.program_boxs { display: inline-block; width: 100%; padding-top: 20px; *zoom: 1; }
.program_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.program_boxs span { display: inline-block; width: 100%; font-size: 1.2rem; line-height: 1.9rem; text-align: left; }
@media screen and (max-width: 754px) and (min-width: 0) { .program_boxs span { font-size: 16px; line-height: 25px; } }
.program_boxs span.tr_o { padding: 20px 0 0 0; }
.program_boxs span.tr_list { padding: 0 0 20px 30px; }
.program_boxs span i { display: inline-block; font-style: normal; color: #be171c; font-weight: 600; }
.program_boxs a { display: inline-block; font-size: 1rem; cursor: pointer; text-decoration: none; color: #5a5a5a; text-align: left; float: left; padding-bottom: 15px; }
.program_boxs a:hover { color: #e4007f; }
.program_boxs .program_box { display: inline-block; width: 100%; *zoom: 1; margin-bottom: 20px; }
.program_boxs .program_box:after { display: table; content: ""; line-height: 0; clear: both; }
.program_boxs .program_box .program_date { display: inline-block; width: 185px; background-color: #f4bba3; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 10px 0; margin-right: 30px; font-size: 1.1rem; color: #004059; font-weight: 600; float: left; }
@media screen and (max-width: 679px) and (min-width: 450px) { .program_boxs .program_box .program_date { width: 100%; font-size: 1rem; } }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .program_date { width: 100%; font-size: .9rem; } }
.program_boxs .program_box .program_list { display: inline-block; width: calc(100% - 185px - 30px); border-bottom: 1px solid rgba(138, 138, 138, 0.5); float: right; text-align: left; padding-bottom: 10px; }
@media screen and (max-width: 679px) and (min-width: 0) { .program_boxs .program_box .program_list { width: 100%; padding-top: 10px; } }
.program_boxs .program_box .program_list .pl_boxs { display: inline-block; width: 100%; }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs { padding: 0 10px; } }
.program_boxs .program_box .program_list .pl_boxs .t_ps { display: inline-block; width: 100%; font-size: 1.1rem; color: #be171c; text-align: left; padding: 15px 0 10px 0; }
@media screen and (max-width: 754px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .t_ps { font-size: 1rem; } }
.program_boxs .program_box .program_list .pl_boxs p { display: inline-block; padding: 5px 0; margin: 0; font-size: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs p { width: 100%; font-size: 16px; } }
.program_boxs .program_box .program_list .pl_boxs p i { display: inline-block; font-style: normal; color: #c7383a; }
.program_boxs .program_box .program_list .pl_boxs p:first-child:after { display: inline-block; content: '│'; padding: 0 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs p:first-child:after { display: none; } }
.program_boxs .program_box .program_list .pl_boxs p.tr_p { padding-left: 95px; }
.program_boxs .program_box .program_list .pl_boxs p.park { width: 100%; }
.program_boxs .program_box .program_list .pl_boxs p.park_title { color: #531e78; font-weight: 600; }
.program_boxs .program_box .program_list .pl_boxs p.park_title:first-child:after { display: none; }
.program_boxs .program_box .program_list .pl_boxs p.park_nobor:first-child:after { display: none; }
.program_boxs .program_box .program_list .pl_boxs .bus_boxs { display: inline-block; width: 100%; *zoom: 1; }
.program_boxs .program_box .program_list .pl_boxs .bus_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_name { display: inline-block; font-size: 20px; font-weight: 600; color: #a8292e; float: left; line-height: 50px; }
@media screen and (max-width: 539px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_name { width: 100%; font-size: 18px; line-height: 30px; } }
.program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_number { display: inline-block; width: 50%; font-size: 20px; color: #2a2a2a; float: left; line-height: 50px; }
@media screen and (max-width: 539px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_number { width: 100%; font-size: 18px; line-height: 30px; } }
.program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_cent { display: inline-block; width: 100%; font-size: 20px; color: #2a2a2a; padding: 5px 0; }
@media screen and (max-width: 539px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .bus_boxs .bus_cent { width: 100%; font-size: 16px; } }
.program_boxs .program_box .program_list .pl_boxs .view_boxs { display: inline-block; width: 100%; padding: 20px 0; }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box { display: inline-block; width: 100%; *zoom: 1; padding-bottom: 20px; }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box:after { display: table; content: ""; line-height: 0; clear: both; }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_pic { display: inline-block; width: 100%; max-width: 200px; float: left; }
@media screen and (max-width: 624px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_pic { width: 100%; max-width: 100%; } }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_pic img { width: 100%; max-width: 200px; }
@media screen and (max-width: 624px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_pic img { width: 100%; max-width: 100%; } }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type { display: inline-block; width: 100%; max-width: calc(100% - 200px); float: left; padding-left: 10px; }
@media screen and (max-width: 624px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type { width: 100%; max-width: 100%; padding-left: 0; } }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type .v01 { display: inline-block; font-size: 20px; font-weight: 600; color: #a8292e; float: left; }
@media screen and (max-width: 539px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type .v01 { width: 100%; font-size: 18px; margin-top: 15px; } }
.program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type .v02 { display: inline-block; width: 100%; font-size: 20px; color: #2a2a2a; padding: 5px 0; }
@media screen and (max-width: 539px) and (min-width: 0) { .program_boxs .program_box .program_list .pl_boxs .view_boxs .view_box .view_type .v02 { width: 100%; font-size: 16px; } }
.program_boxs .program_box .pro_ttitle { display: inline-block; width: 100%; font-size: 30px; font-weight: 600; color: #c01311; text-align: left; padding: 20px 0 10px 0; }
@media screen and (max-width: 859px) and (min-width: 450px) { .program_boxs .program_box .pro_ttitle { font-size: 24px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .pro_ttitle { font-size: 18px; } }
.program_boxs .program_box .pro_ttitle:first-child { padding-top: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .pro_ttitle:first-child { padding-top: 30px; } }
.program_boxs .program_box .pro_ttitle:before { display: inline-block; content: '\e902'; font-family: 'icomoon'; font-size: 50px; color: #cf524f; padding-top: 0; padding-right: 5px; font-weight: 400; }
@media screen and (max-width: 859px) and (min-width: 450px) { .program_boxs .program_box .pro_ttitle:before { font-size: 24px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .pro_ttitle:before { font-size: 18px; } }
.program_boxs .program_box .pro_boxs { display: inline-block; width: 100%; padding: 20px 0; border-bottom: 2px solid #91609d; }
.program_boxs .program_box .pro_boxs .road { display: inline-block; color: #171717; font-size: 30px; line-height: 30px; }
@media screen and (max-width: 859px) and (min-width: 450px) { .program_boxs .program_box .pro_boxs .road { font-size: 20px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .pro_boxs .road { font-size: 16px; } }
.program_boxs .program_box .pro_boxs .road.no_road { width: 100%; padding-bottom: 15px; }
.program_boxs .program_box .pro_boxs .road.no_road:after { display: none; }
.program_boxs .program_box .pro_boxs .road:after { display: inline-block; content: '\e892'; font-family: 'icomoon'; font-size: 50px; color: #67a93e; padding: 0 10px; }
@media screen and (max-width: 859px) and (min-width: 450px) { .program_boxs .program_box .pro_boxs .road:after { font-size: 30px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .program_boxs .program_box .pro_boxs .road:after { font-size: 20px; } }
.program_boxs .program_box .pro_boxs .road:last-child:after { display: none; }
.program_boxs .program_box .road02 { display: inline-block; width: 100%; padding: 10px 0; *zoom: 1; text-align: left; }
.program_boxs .program_box .road02:after { display: table; content: ""; line-height: 0; clear: both; }
.program_boxs .program_box .road02 > div { display: inline-block; width: calc(100% / 2); color: #171717; font-size: 25px; float: left; padding: 10px 0; line-height: 30px; }
@media screen and (max-width: 859px) and (min-width: 0) { .program_boxs .program_box .road02 > div { width: 100%; font-size: 18px; } }
.program_boxs .program_box .road02 > div b { color: #e75d20; }
.program_boxs .program_box .map { display: list-item; width: 100%; max-width: 785px; list-style: none; margin: 10px 0; }

.all_img { display: inline-block; width: 100%; max-width: 920px; }

.little_boxs { display: inline-block; width: 100%; *zoom: 1; }
.little_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.little_boxs.ac_tag { margin-top: 20px; }
.little_boxs .little01 { display: inline-block; background-color: #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 15px 20px; font-size: 24px; color: white; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .little_boxs .little01 { padding: 10px 0; font-size: 18px; } }
.little_boxs .little02 { display: inline-block; cursor: pointer; width: calc(100% / 4 - 10px * 5 / 3); text-decoration: none; border: 1px solid #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 10px 0; font-size: 1.4rem; color: #c08f47; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .little_boxs .little02 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 754px) and (min-width: 701px) { .little_boxs .little02 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 700px) and (min-width: 450px) { .little_boxs .little02 { font-size: 1rem; padding: 10px 0; margin: 0 10px 10px 10px !important; width: calc(50% - 10px * 2); } }
@media screen and (max-width: 449px) and (min-width: 0) { .little_boxs .little02 { font-size: .9rem; padding: 10px 0; margin: 0 5px 10px 5px !important; width: calc(50% - 5px * 2); } }
.little_boxs .little02:nth-child(1) { margin-right: 10px; }
.little_boxs .little02:nth-child(2), .little_boxs .little02:nth-child(3) { margin: 0 10px; }
.little_boxs .little02:nth-child(4) { margin-left: 10px; }
.little_boxs .little02:hover, .little_boxs .little02:active, .little_boxs .little02.l_ok { color: white; background-color: #c08f47; }
.little_boxs .little03 { display: inline-block; cursor: pointer; width: calc(100% / 3 - 10px * 4 / 2); text-decoration: none; border: 1px solid #c08f47; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 10px 0; font-size: 1.4rem; color: #c08f47; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .little_boxs .little03 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 754px) and (min-width: 701px) { .little_boxs .little03 { font-size: 1.2rem; padding: 10px 0; } }
@media screen and (max-width: 700px) and (min-width: 450px) { .little_boxs .little03 { font-size: 1rem; padding: 10px 0; margin: 0 10px 10px 10px !important; width: calc(50% - 10px * 2); } }
@media screen and (max-width: 449px) and (min-width: 0) { .little_boxs .little03 { font-size: .9rem; padding: 10px 0; margin: 0 5px 10px 5px !important; width: calc(50% - 5px * 2); } }
.little_boxs .little03:nth-child(1) { margin-right: 10px; }
.little_boxs .little03:nth-child(2), .little_boxs .little03:nth-child(3) { margin: 0 10px; }
.little_boxs .little03:nth-child(4) { margin-left: 10px; }
.little_boxs .little03:hover, .little_boxs .little03:active, .little_boxs .little03.l_ok { color: white; background-color: #c08f47; }
.little_boxs p { display: inline-block; padding: 0 10px; margin: 0; float: left; color: #c08f47; font-size: 24px; float: left; line-height: 63px; }
@media screen and (max-width: 399px) and (min-width: 0) { .little_boxs p { line-height: 45px; font-size: 18px; } }

.add_type { font-size: 1.2rem; color: #5a5a5a; text-align: left; }
.add_type.add_right { text-align: right !important; }
@media screen and (max-width: 499px) and (min-width: 0) { .add_type { font-style: 1rem; } }
.add_type.be_g:before { display: inline-block; content: attr(title); font-weight: 600; color: #b8843e; }
.add_type:before { display: inline-block; content: attr(title); font-weight: 600; color: #e4007f; }
.add_type.add_2 { display: inline-block; width: 50%; float: left; }
@media screen and (max-width: 894px) and (min-width: 0) { .add_type.add_2 { width: 100%; } }
.add_type.add_3 { display: inline-block; width: 50%; margin: 0 auto; }
.add_type.add_3:before { display: none; }
@media screen and (max-width: 894px) and (min-width: 0) { .add_type.add_3 { width: 100%; } }

.pad20 { padding: 20px 0; }

.padbot20 { padding-bottom: 20px; }

.padtop20 { padding-top: 20px; }

.lantern_boxs { display: inline-block; width: 100%; *zoom: 1; }
.lantern_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
.lantern_boxs .trf_link { display: inline-block; float: right; font-size: 20px; color: #531e78; font-weight: 600; text-decoration: none; padding-top: 10px; }
.lantern_boxs .trf_link:hover, .lantern_boxs .trf_link:active { text-decoration: underline; }
.lantern_boxs .lantern_title { display: inline-block; width: 100%; font-size: 30px; font-weight: 600; color: #e4007f; text-align: left; margin: 20px 0; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .lantern_boxs .lantern_title { font-size: 24px; } }
@media screen and (max-width: 754px) and (min-width: 0) { .lantern_boxs .lantern_title { font-size: 18px; } }
.lantern_boxs .lantern_title a { display: inline-block; font-size: 20px; font-weight: 400; color: white; margin: 0 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #c01311; text-decoration: none; padding: 5px 15px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.lantern_boxs .lantern_title a:hover, .lantern_boxs .lantern_title a:active { background-color: rgba(192, 19, 17, 0.8); }
@media screen and (max-width: 1089px) and (min-width: 755px) { .lantern_boxs .lantern_title a { font-size: 18px; padding: 3px 10px; } }
@media screen and (max-width: 754px) and (min-width: 0) { .lantern_boxs .lantern_title a { font-size: 16px; padding: 3px 10px; } }
.lantern_boxs .lantern_title.sec_title { margin: 20px 0 0 0; }
.lantern_boxs .sec_p { display: inline-block; width: 100%; font-size: 30px; color: #c01311; text-align: left; padding-left: 30px; }
.lantern_boxs .sec_p.tr_p { color: #e75d20; font-weight: 600; padding-bottom: 15px; }
@media screen and (max-width: 1089px) and (min-width: 755px) { .lantern_boxs .sec_p { font-size: 24px; } }
@media screen and (max-width: 754px) and (min-width: 0) { .lantern_boxs .sec_p { font-size: 18px; } }
.lantern_boxs img { width: 100%; max-width: 1000px; }
.lantern_boxs .room_type { display: inline-block; width: 100%; font-size: 20px; color: #2a2a2a; padding: 5px 0; text-align: left; }
@media screen and (max-width: 539px) and (min-width: 0) { .lantern_boxs .room_type { width: 100%; font-size: 16px; } }
.lantern_boxs .table_boxs { display: inline-block; width: 100%; margin-top: 10px; *zoom: 1; text-align: left; }
.lantern_boxs .table_boxs:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 874px) and (min-width: 0) { .lantern_boxs .table_boxs { margin-top: 20px; } }
.lantern_boxs .table_boxs .room_name, .lantern_boxs .table_boxs .room_add, .lantern_boxs .table_boxs .room_phone { display: inline-block; float: left; font-size: 18px; font-weight: 600; padding: 10px 15px; height: 45px; }
@media screen and (max-width: 799px) and (min-width: 0) { .lantern_boxs .table_boxs .room_name, .lantern_boxs .table_boxs .room_add, .lantern_boxs .table_boxs .room_phone { font-size: 16px; padding: 10px; } }
.lantern_boxs .table_boxs .room_name { width: 40%; color: white; background-color: #90619b; }
@media screen and (max-width: 874px) and (min-width: 0) { .lantern_boxs .table_boxs .room_name { width: 100%; } }
.lantern_boxs .table_boxs .room_name .da { display: inline-block; cursor: pointer; float: right; margin: 0 10px; padding: 3px 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: white; color: #522376; text-decoration: none; font-size: 14px; font-weight: 600; }
.lantern_boxs .table_boxs .room_name .da:hover, .lantern_boxs .table_boxs .room_name .da:active { background-color: rgba(255, 255, 255, 0.9); }
.lantern_boxs .table_boxs .room_add { width: 40%; color: rgba(42, 42, 42, 0.8); background-color: rgba(255, 255, 255, 0.5); }
@media screen and (max-width: 874px) and (min-width: 0) { .lantern_boxs .table_boxs .room_add { width: 100%; background-color: rgba(255, 255, 255, 0.7); } }
.lantern_boxs .table_boxs .room_phone { width: 20%; color: white; background-color: rgba(144, 97, 155, 0.5); }
@media screen and (max-width: 874px) and (min-width: 0) { .lantern_boxs .table_boxs .room_phone { width: 100%; } }
