icomoon@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1577714510') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1577714510') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1577714510') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1577714510') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-instagram:before { content: "\e912"; }

.icon-download:before { content: "\e914"; }

.icon-facebook2:before { content: "\ea91"; }
